In [1]:
import pandas as pd

In [29]:
df=pd.read_table("fruit_data_with_colors.txt")
df.head()

   fruit_label fruit_name fruit_subtype  mass  width  height  color_score
0            1      apple  granny_smith   192    8.4     7.3         0.55
1            1      apple  granny_smith   180    8.0     6.8         0.59
2            1      apple  granny_smith   176    7.4     7.2         0.60
3            2   mandarin      mandarin    86    6.2     4.7         0.80
4            2   mandarin      mandarin    84    6.0     4.6         0.79

In [34]:
df.loc[df["fruit_label"]!=1,"fruit_label"]=0
df#.head()

    fruit_label fruit_name     fruit_subtype  mass  width  height  color_score
0             1      apple      granny_smith   192    8.4     7.3         0.55
1             1      apple      granny_smith   180    8.0     6.8         0.59
2             1      apple      granny_smith   176    7.4     7.2         0.60
3             0   mandarin          mandarin    86    6.2     4.7         0.80
4             0   mandarin          mandarin    84    6.0     4.6         0.79
5             0   mandarin          mandarin    80    5.8     4.3         0.77
6             0   mandarin          mandarin    80    5.9     4.3         0.81
7             0   mandarin          mandarin    76    5.8     4.0         0.81
8             1      apple          braeburn   178    7.1     7.8         0.92
9             1      apple          braeburn   172    7.4     7.0         0.89
10            1      apple          braeburn   166    6.9     7.3         0.93
11            1      apple          braeburn   172    7.1     7.6         0.92
12            1      apple          braeburn   154    7.0     7.1         0.88
13            1      apple  golden_delicious   164    7.3     7.7         0.70
14            1      apple  golden_delicious   152    7.6     7.3         0.69
15            1      apple  golden_delicious   156    7.7     7.1         0.69
16            1      apple  golden_delicious   156    7.6     7.5         0.67
17            1      apple  golden_delicious   168    7.5     7.6         0.73
18            1      apple       cripps_pink   162    7.5     7.1         0.83
19            1      apple       cripps_pink   162    7.4     7.2         0.85
20            1      apple       cripps_pink   160    7.5     7.5         0.86
21            1      apple       cripps_pink   156    7.4     7.4         0.84
22            1      apple       cripps_pink   140    7.3     7.1         0.87
23            1      apple       cripps_pink   170    7.6     7.9         0.88
24            0     orange     spanish_jumbo   342    9.0     9.4         0.75
25            0     orange     spanish_jumbo   356    9.2     9.2         0.75
26            0     orange     spanish_jumbo   362    9.6     9.2         0.74
27            0     orange  selected_seconds   204    7.5     9.2         0.77
28            0     orange  selected_seconds   140    6.7     7.1         0.72
29            0     orange  selected_seconds   160    7.0     7.4         0.81
30            0     orange  selected_seconds   158    7.1     7.5         0.79
31            0     orange  selected_seconds   210    7.8     8.0         0.82
32            0     orange  selected_seconds   164    7.2     7.0         0.80
33            0     orange      turkey_navel   190    7.5     8.1         0.74
34            0     orange      turkey_navel   142    7.6     7.8         0.75
35            0     orange      turkey_navel   150    7.1     7.9         0.75
36            0     orange      turkey_navel   160    7.1     7.6         0.76
37            0     orange      turkey_navel   154    7.3     7.3         0.79
38            0     orange      turkey_navel   158    7.2     7.8         0.77
39            0     orange      turkey_navel   144    6.8     7.4         0.75
40            0     orange      turkey_navel   154    7.1     7.5         0.78
41            0     orange      turkey_navel   180    7.6     8.2         0.79
42            0     orange      turkey_navel   154    7.2     7.2         0.82
43            0      lemon    spanish_belsan   194    7.2    10.3         0.70
44            0      lemon    spanish_belsan   200    7.3    10.5         0.72
45            0      lemon    spanish_belsan   186    7.2     9.2         0.72
46            0      lemon    spanish_belsan   216    7.3    10.2         0.71
47            0      lemon    spanish_belsan   196    7.3     9.7         0.72
48            0      lemon    spanish_belsan   174    7.3    10.1         0.72
49            0      lemon           unknown   132    5.8     8.7         0.73
50            0      lemon           unknown   130    6.0     8.2         0.71
51            0      lemon           unknown   116    6.0     7.5         0.72
52            0      lemon           unknown   118    5.9     8.0         0.72
53            0      lemon           unknown   120    6.0     8.4         0.74
54            0      lemon           unknown   116    6.1     8.5         0.71
55            0      lemon           unknown   116    6.3     7.7         0.72
56            0      lemon           unknown   116    5.9     8.1         0.73
57            0      lemon           unknown   152    6.5     8.5         0.72
58            0      lemon           unknown   118    6.1     8.1         0.70

In [9]:
df['fruit_label'].value_counts()

0    40
1    19
Name: fruit_label, dtype: int64

In [12]:
x=df[['mass','width','height']]
x.head()

   mass  width  height
0   192    8.4     7.3
1   180    8.0     6.8
2   176    7.4     7.2
3    86    6.2     4.7
4    84    6.0     4.6

In [14]:
y=df['fruit_label']
y.head()

0    1
1    1
2    1
3    0
4    0
Name: fruit_label, dtype: int64

In [15]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=42)

In [55]:
y_test

0     1
5     2
34    3
13    1
45    4
53    4
57    4
25    3
47    4
12    1
49    4
3     2
36    3
31    3
8     1
17    1
6     2
4     2
Name: fruit_label, dtype: int64

In [17]:
from sklearn.linear_model import LogisticRegression

In [18]:
logreg=LogisticRegression()
logreg.fit(x_train,y_train)

C:\Users\user8\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [19]:
logreg.score(x_train,y_train)

0.8292682926829268

In [20]:
logreg.score(x_test,y_test)

0.5555555555555556

In [21]:
x_test.head()

    mass  width  height
0    192    8.4     7.3
5     80    5.8     4.3
34   142    7.6     7.8
13   164    7.3     7.7
45   186    7.2     9.2

In [35]:
logreg.predict([[80,5.8,4.3],[186,7.2,9.2],[84,6.0,4.6],[7.1,7.5,0.79]])

array([1, 0, 1, 1], dtype=int64)

In [58]:
logreg.predict_proba([[80,5.8,4.3],[186,7.2,9.2],[84,6.0,4.6],[7.1,7.5,0.79]])

array([[1.41878090e-01, 8.58121910e-01],
       [9.17977357e-01, 8.20226429e-02],
       [1.54493189e-01, 8.45506811e-01],
       [2.99821764e-04, 9.99700178e-01]])

In [42]:
df1=pd.read_table("fruit_data_with_colors.txt")
df1.head()

   fruit_label fruit_name fruit_subtype  mass  width  height  color_score
0            1      apple  granny_smith   192    8.4     7.3         0.55
1            1      apple  granny_smith   180    8.0     6.8         0.59
2            1      apple  granny_smith   176    7.4     7.2         0.60
3            2   mandarin      mandarin    86    6.2     4.7         0.80
4            2   mandarin      mandarin    84    6.0     4.6         0.79

In [43]:
x1=df1[['mass','width','height']]
x1.head()

   mass  width  height
0   192    8.4     7.3
1   180    8.0     6.8
2   176    7.4     7.2
3    86    6.2     4.7
4    84    6.0     4.6

In [44]:
y1=df1['fruit_label']
y1.head()

0    1
1    1
2    1
3    2
4    2
Name: fruit_label, dtype: int64

In [45]:
from sklearn.model_selection import train_test_split
x1_train,x1_test,y1_train,y1_test=train_test_split(x1,y1,test_size=0.3,random_state=42)

In [46]:
from sklearn.linear_model import LogisticRegression

In [47]:
logreg1=LogisticRegression()
logreg1.fit(x1_train,y1_train)

C:\Users\user8\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\user8\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [48]:
logreg1.score(x1_train,y1_train)

0.6829268292682927

In [49]:
logreg1.score(x1_test,y1_test)

0.6111111111111112

In [50]:
logreg1.predict([[80,5.8,4.3],[186,7.2,9.2],[84,6.0,4.6],[7.1,7.5,0.79]])

array([1, 4, 1, 1], dtype=int64)

### cancer

In [59]:
import pandas as pd

In [60]:
from sklearn.datasets import load_breast_cancer

In [61]:
c_data=load_breast_cancer()

In [62]:
c_data.keys()

dict_keys(['data', 'target', 'target_names', 'DESCR', 'feature_names', 'filename'])

In [76]:
df=pd.DataFrame(c_data['data'])
df.columns=c_data['feature_names']
df['Target']=c_data['target']
df.head(10)

,mean radius,mean texture,mean perimeter,mean area,mean smoothness,mean compactness,mean concavity,mean concave points,mean symmetry,mean fractal dimension,...,worst texture,worst perimeter,worst area,worst smoothness,worst compactness,worst concavity,worst concave points,worst symmetry,worst fractal dimension,Target
0,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.30010,0.14710,0.2419,0.07871,...,17.33,184.60,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890,0
1,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.08690,0.07017,0.1812,0.05667,...,23.41,158.80,1956.0,0.1238,0.1866,0.2416,0.1860,0.2750,0.08902,0
2,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.19740,0.12790,0.2069,0.05999,...,25.53,152.50,1709.0,0.1444,0.4245,0.4504,0.2430,0.3613,0.08758,0
3,11.42,20.38,77.58,386.1,0.14250,0.28390,0.24140,0.10520,0.2597,0.09744,...,26.50,98.87,567.7,0.2098,0.8663,0.6869,0.2575,0.6638,0.17300,0
4,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.19800,0.10430,0.1809,0.05883,...,16.67,152.20,1575.0,0.1374,0.2050,0.4000,0.1625,0.2364,0.07678,0
5,12.45,15.70,82.57,477.1,0.12780,0.17000,0.15780,0.08089,0.2087,0.07613,...,23.75,103.40,741.6,0.1791,0.5249,0.5355,0.1741,0.3985,0.12440,0
6,18.25,19.98,119.60,1040.0,0.09463,0.10900,0.11270,0.07400,0.1794,0.05742,...,27.66,153.20,1606.0,0.1442,0.2576,0.3784,0.1932,0.3063,0.08368,0
7,13.71,20.83,90.20,577.9,0.11890,0.16450,0.09366,0.05985,0.2196,0.07451,...,28.14,110.60,897.0,0.1654,0.3682,0.2678,0.1556,0.3196,0.11510,0
8,13.00,21.82,87.50,519.8,0.12730,0.19320,0.18590,0.09353,0.2350,0.07389,...,30.73,106.20,739.3,0.1703,0.5401,0.5390,0.2060,0.4378,0.10720,0
9,12.46,24.04,83.97,475.9,0.11860,0.23960,0.22730,0.08543,0.2030,0.08243,...,40.68,97.65,711.4,0.1853,1.0580,1.1050,0.2210,0.4366,0.20750,0

In [64]:
df['Target'].value_counts()

1    357
0    212
Name: Target, dtype: int64

In [67]:
x2=df[['mean area','mean perimeter','mean concavity','mean symmetry']]
y2=df[['Target']]

In [66]:
from sklearn.model_selection import train_test_split

In [68]:
x2_train,x2_test,y2_train,y2_test=train_test_split(x2,y2,test_size=0.30,random_state=42)

In [69]:
from sklearn.linear_model import LogisticRegression

In [70]:
logreg2=LogisticRegression()
logreg2.fit(x2_train,y2_train)

C:\Users\user8\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\user8\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [71]:
logreg2.score(x2_train,y2_train)

0.8844221105527639

In [72]:
logreg2.score(x2_test,y2_test)

0.9181286549707602

In [74]:
logreg2.predict([[1326.0,132.90,0.08690,0.1812]])

array([0])

In [99]:
logreg2.predict_proba([[1326.0,132.90,0.08690,0.1812]])

array([[9.99118952e-01, 8.81048383e-04]])

### credit card

In [77]:
import pandas as pd

In [79]:
df4=pd.read_csv("creditcard_csv.csv")
df4.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,'0'
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,'0'
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,'0'
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,'0'
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,'0'

In [81]:
df4.keys()

Index(['Time', 'V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10',
       'V11', 'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V20',
       'V21', 'V22', 'V23', 'V24', 'V25', 'V26', 'V27', 'V28', 'Amount',
       'Class'],
      dtype='object')

In [84]:
df4['Class'].value_counts()

'0'    284315
'1'       492
Name: Class, dtype: int64

In [106]:
df4[df4["Class"]=="'1'"]

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
541,406.0,-2.312227,1.951992,-1.609851,3.997906,-0.522188,-1.426545,-2.537387,1.391657,-2.770089,...,0.517232,-0.035049,-0.465211,0.320198,0.044519,0.177840,0.261145,-0.143276,0.00,'1'
623,472.0,-3.043541,-3.157307,1.088463,2.288644,1.359805,-1.064823,0.325574,-0.067794,-0.270953,...,0.661696,0.435477,1.375966,-0.293803,0.279798,-0.145362,-0.252773,0.035764,529.00,'1'
4920,4462.0,-2.303350,1.759247,-0.359745,2.330243,-0.821628,-0.075788,0.562320,-0.399147,-0.238253,...,-0.294166,-0.932391,0.172726,-0.087330,-0.156114,-0.542628,0.039566,-0.153029,239.93,'1'
6108,6986.0,-4.397974,1.358367,-2.592844,2.679787,-1.128131,-1.706536,-3.496197,-0.248778,-0.247768,...,0.573574,0.176968,-0.436207,-0.053502,0.252405,-0.657488,-0.827136,0.849573,59.00,'1'
6329,7519.0,1.234235,3.019740,-4.304597,4.732795,3.624201,-1.357746,1.713445,-0.496358,-1.282858,...,-0.379068,-0.704181,-0.656805,-1.632653,1.488901,0.566797,-0.010016,0.146793,1.00,'1'
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,'1'
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,'1'
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,'1'
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,'1'
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,'1'

In [90]:
x4=df4[['V1','V2','V3','V4']]
x4.head()

         V1        V2        V3        V4
0 -1.359807 -0.072781  2.536347  1.378155
1  1.191857  0.266151  0.166480  0.448154
2 -1.358354 -1.340163  1.773209  0.379780
3 -0.966272 -0.185226  1.792993 -0.863291
4 -1.158233  0.877737  1.548718  0.403034

In [91]:
y4=df4[["Class"]]
y4.head()

  Class
0   '0'
1   '0'
2   '0'
3   '0'
4   '0'

In [92]:
from sklearn.model_selection import train_test_split
x4_train,x4_test,y4_train,y4_test=train_test_split(x4,y4,test_size=0.3,random_state=42)

In [93]:
from sklearn.linear_model import LogisticRegression

In [94]:
logreg4=LogisticRegression()
logreg4.fit(x4_train,y4_train)

C:\Users\user8\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\user8\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [95]:
logreg4.score(x4_train,y4_train)

0.9986657571076022

In [96]:
logreg4.score(x4_test,y4_test)

0.9988413328183702

In [97]:
logreg4.predict([[1.191857,0.266151,0.166480,0.448154]])

array(["'0'"], dtype=object)

In [98]:
logreg4.predict_proba([[1.191857,0.266151,0.166480,0.448154]])

array([[9.99477392e-01, 5.22607687e-04]])

In [107]:
logreg4.predict([[-2.312227,1.951992,-1.609851,3.997906]])

array(["'0'"], dtype=object)

In [108]:
logreg4.predict_proba([[-2.312227,1.951992,-1.609851,3.997906]])

array([[0.97670356, 0.02329644]])